@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&family=Sekuya&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

}

@theme{
  --font-display: Rosario, "AXtManalBold Regular", Helvetica, Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK", "Hiragino Sans", sans-serif;
  --font-niramit: Niramit, "AXtManalBold Regular", Helvetica, Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK", "Hiragino Sans", sans-serif;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}
